<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="NhibernateConnection"
         connectionString="Data Source=LSPHUC\MSSQLSERVERG;Initial Catalog=ARA20151128_Release;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NHConfigResourceName" value="ARAManager.Business.Dao.Config.hibernate.cfg.xml" />
    <add key="NHConfigResourceAssembly" value="ARAManager.Business.Dao" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <!--#Start  MANAGER_MODULE-->
      <service name="ARAManager.Business.Service.Services.CampaignServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.ICampaignServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="CampaignService" />
      </service>
      <service name="ARAManager.Business.Service.Services.CampaignTypeServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.ICampaignTypeServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="CampaignTypeService" />
      </service>
      <service name="ARAManager.Business.Service.Services.CompanyServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.ICompanyServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="CompanyService" />
      </service>
      <service name="ARAManager.Business.Service.Services.CustomerServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.ICustomerServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="CustomerService" />
      </service>
      <service name="ARAManager.Business.Service.Services.MissionServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.IMissionServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="MissionService" />
      </service>
      <service name="ARAManager.Business.Service.Services.SubscriptionServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.ISubscriptionServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="SubscriptionService" />
      </service>
      <service name="ARAManager.Business.Service.Services.TargetServiceImpl"
               behaviorConfiguration="ServiceBehaviorShowMetadata">
        <endpoint contract="ARAManager.Common.Services.ITargetServiceImpl"
                  bindingName="http://www.nhibernate.com/example/" binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding" address="TargetService" />
      </service>
      <!--#Ended MANAGER_MODULE-->
      <!--#Start  PRESENTER_MODULE-->
      <service name="ARAManager.Business.Service.Services.Presenter.CustomerAccount"
               behaviorConfiguration="Default">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="ARAManager.Common.Services.Presenter.ICustomerAccount" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="ARAManager.Business.Service.Services.Presenter.CustomerCampaign"
              behaviorConfiguration="Default">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="ARAManager.Common.Services.Presenter.ICustomerCampaign" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="ARAManager.Business.Service.Services.Presenter.CustomerSubscription"
              behaviorConfiguration="Default">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="ARAManager.Common.Services.Presenter.ICustomerSubscription" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <!--#End PRESENTER_MODULE-->
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBasicHttpBinding" sendTimeout="00:03:00" maxReceivedMessageSize="2147483647"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" maxBufferSize="2147483647"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="ServiceBehaviorShowMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\KabaLogs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <log4net>
    <appender name="NHibernateSQL" type="log4net.Appender.RollingFileAppender">
      <file value="NHibernateSQL.log" />
      <appendToFile value="true" />
      <maximumFileSize value="50MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-7.7thread] %-6.6level %-30.30logger{1} | %message%newline%exception" />
      </layout>
    </appender>
    <!-- Set root logger level. -->
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ALL" />
      <appender-ref ref="NHibernateSQL" />
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>